*{
    margin: 0;
    padding: 0;
}
.dropdown_outer_container{
    position: static;
    background-color: grey;
    width: 200px;
    text-align: center;
}
.dropdown_inner_container{
    position: absolute;
    height: auto;
    width: 200px;
    row-gap: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    top: 30%;
    background-color: rgb(34, 33, 33);
    border: 2px black double;
    border-radius: 10px;
    color: white;
    z-index: 100;
}
.dropdown{
    position: relative;
    z-index: 1000;
    transition: height 0.4s ease-out;
    width: 200px;
    height: 0px;
    background-color: rgb(141, 39, 155);
    overflow: hidden;
}
.dropdown *{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
span{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
button{
    height: 20px;
    width: 20px;
}
