.router{
    margin: 50px;
    width: 150px;
    height: 75px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-family: "Playwrite AU VIC Guides", serif;
    outline: none;
}
